.ListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2948e4;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 8px;
    width: 200px;
}

.button {
    color: #2948e4;
}